@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #fff;
  --foreground-strong: #111;
  --foreground: #424748;
  --foreground-dim: #898989;
  --primary: #00a3e0;
  --secondary: #dfe4e5;
  --sub-background: #e9eef0;
  --sub-foreground: #6d7679;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.show-dark {
  display: none;
}

.show-light {
  display: unset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171718;
    --foreground-strong: #fff;
    --foreground: #d4dadb;
    --foreground-dim: #dde5e788;
    --primary: #087aa5;
    --secondary: #3b4245;
    --sub-background: #373c3e;
    --sub-foreground: #a2a9ac;
  }

  .show-dark {
    display: unset;
  }

  .show-light {
    display: none;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;

  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--foreground-strong);
}

a {
  color: var(--primary);
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;

  background-color: #000;
  color: #fff;

  padding: 0.5rem 1.25rem;

  border: none;
  border-radius: 0.625rem;

  box-shadow: inset 0px 1px #fff4, inset 0px -3px 3px #0001;

  transition: filter 0.2s;
}

button:hover {
  filter: brightness(1.1);
}

button.primary {
  background: linear-gradient(180deg, #fff1 0%, #fff0 50%), linear-gradient(-180deg, #0000 0%, #0001 80%), var(--primary);
}

button.secondary {
  background: linear-gradient(180deg, #fff1 0%, #fff0 50%), linear-gradient(-180deg, #0000 0%, #0001 80%), var(--secondary);
  color: var(--foreground-strong);
}

/*---*/

.content {
  max-width: 740px;
  margin: 0 auto;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content > section h2 {
  --size: 1.5rem;
  font-size: var(--size);
  line-height: var(--size);
}

.content > section p {
  --size: 1rem;
  font-size: var(--size);
  line-height: calc(var(--size) + 0.1rem);

  margin: 0.75rem 0;
}

.credit {
  font-size: 0.9rem;
  line-height: 0;

  color: var(--foreground-dim);
}

/*---*/

.skills {
  width: 100%;

  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skills > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.skills > div img {
  width: 2.5rem;
  height: 2.5rem;
}

.skills > div span {
  display: flex;
  flex-direction: column;

  --size: 0.9rem;
  font-size: var(--size);
  line-height: var(--size);

  color: var(--foreground-dim);
}

.skills > div span b {
  color: var(--foreground);

  --size: 1.05rem;
  font-size: var(--size);
  line-height: var(--size);

  font-weight: 500;
}

/*---*/

.projects {
  width: 100%;

  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.projects > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  height: 100%;
}

.projects > div header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects > div header img {
  width: 5rem;
  height: 5rem;
}

.projects > div header main {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;

  --size: 1.1rem;
  font-size: var(--size);
  line-height: var(--size);
}

.projects > div header main b {
  --size: 1.4rem;
  font-size: var(--size);
  line-height: var(--size);
}

.projects > div header main b small {
  opacity: 0.5;
}

.projects > div footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects > div footer section {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.projects > div footer section span {
  color: var(--sub-foreground);
  background-color: var(--sub-background);

  font-weight: bold;
  font-size: 0.9rem;

  padding: 0.1rem 0.625rem;

  border-radius: 0.5rem;
}

.projects > div footer menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

/*---*/

@media only screen and (max-width: calc(740px + 4rem)) {
  .content {
    padding: 1.5rem 2rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .skills {
    grid-template-columns: 1fr;
  }

  .skills > div span {
    --size: 0.85rem;
  }

  .skills > div span b {
    --size: 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .projects > div header img {
    width: 4.5rem;
    height: 4.5rem;
  }
}
